.header {
    display: flex;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to left, #2805f2, #05cbf2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.task-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.task {
    text-align: center;
    width: 300px;
    border-radius: 15px;
    color: white;
}

.add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 15px;
    padding: 10px;
    background-color: gray;
    color: black;
    
    
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;

}

.prio-select {
    display: flex;
    flex-direction: column;
}
