.task-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    border: solid;
}

.task {
    text-align: center;
    width: 300px;
    border-radius: 15px;
    color: white;
}

.priority-high {
    background-color: red;
}

.priority-medium {
    background-color: orange;
}

.priority-low {
    background-color: green;
}